
<ul *ngIf=contacts>
  <li *ngFor="let contact of contacts">
     {{contact.name}} <br>
     {{contact.email}} <br>
     {{contact.phoneNumber}} <br>
    <img src="{{contact.img}}" alt="">
  </li>
</ul>



<div>
  <label for="contact-name">Name</label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email</label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone</label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Image</label>
  <input type="text" [(ngModel)]="newContact.image">
</div>

<button (click)="addContact(newContact)">Submit New Contact</button>
